body {
    margin: 0;
    padding: 0;
    border: 0;
}

@font-face {
    font-family: 'ComingSoon';
    src: url('./ComingSoon-Regular.ttf');
    font-style: normal;
}

/* STYLING FOR DATE INPUT */
.dateInputContainer input {
    box-sizing: border-box;
    padding: .75rem;
    position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

/* SIDEBAR STYLING */

.sidebar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 230px;
    background-color: #60a5fa; /* #400 from the blue color palette  */
    box-shadow: 0px 2px 3px 0px black;
}

.sidebar-header {
    font-family: 'ComingSoon';
    text-shadow: 0px 0px 15px #6176ff;
    color: #ffffff;
    word-spacing: 10px;
    letter-spacing: 2px;
    font-size: 2.7em;
    background-color: #3b82f6;
    width: 200vw;
    height: auto;
    text-align: center;
    padding-top: 12px;
    margin: 0;
    padding-bottom: 10px;
    text-decoration: underline;
}

.sidebar-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    list-style: none;
    padding: 0;
}

.sidebar-list li {
    width: 100%;
    list-style: none;
    padding: 0;
}


.sidebar-svg {
    width: 20%;
    height: 40px;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(110deg) brightness(98%) contrast(108%);
   
    /* 
    above changes the color of the SVG, created using:
    https://isotropic.co/tool/hex-color-to-css-filter/ 
    */

    pointer-events: none;
}

span {
    pointer-events: none;
}

.sidebar-list li button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    cursor: pointer;
    width: 100%;
    height: 60px;
    background: transparent;
    color: white;
    font-family: 'ComingSoon';
    letter-spacing: 1px;
    border: none;
    font-size: 1.2em;
    font-weight: 600;
}

.sidebar-list-click {
    background-color: white !important;
    color: #1e40af !important;
    box-shadow: 2px 0px 0px 2px white !important;
}

.sidebar-list-click img {
    filter: invert(25%) sepia(31%) saturate(4712%) hue-rotate(213deg) brightness(82%) contrast(96%) !important;
}

.sidebar-list-click:hover {
    box-shadow: 2px 0px 0px 2px white !important;
    border: none !important;
    text-shadow: none !important;
    background-color: white !important;
}

.sidebar-list button:hover {
    background-color: #3b82f6;
    text-shadow: 0px 0px 10px black;
    border: 1px solid #0000001f;
    box-shadow: -1px -1px 8px 0px black;
    /* box-shadow: inset 0px 1px 3px 0px black; */
}

.sidebar-list button:active{
    background-color: #3b82f6;
    box-shadow: inset 0px 1px 3px 0px black;
    text-shadow: none;
}

.newTask {
    margin-top: 40px;
}

.newTask span {
    font-size: 1.7em;
    height: 40px;
}

.newTask:hover {
    color: #00ff58;
}

.newTask:hover img {
    filter: invert(77%) sepia(22%) saturate(6275%) hue-rotate(87deg) brightness(104%) contrast(112%);
}



/* MASTER CONTAINER */
.master-container {
    /* left margin offsets sidebar, with a 10px gap; right margin to match gap */
    margin-left: 240px;
    margin-right: 10px;
    margin-top: 97px;
    margin-bottom: 20px;
}

/* CARD GRID */
.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
    gap: 20px;
}

/* CARD CONTAINER */
.task-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* CARD BUTTONS */
.card-buttons {
    display: flex;
    justify-content: space-between;
}

.card-buttons img {
    height: 25px;
    width: 25px;

    /* below disables image from being clicked on inside the button */
    pointer-events: none;
}

.card-buttons button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 110px;
    border: none;
    background-color: #bfdbfe;
}

.card-buttons button:hover{
    background-color: #dbeafe;
    box-shadow: inset -2px -2px 2px 0px #000000;
    cursor: pointer;
}

.card-buttons button:active{
    background-color: #bfdbfe;
    box-shadow: none;
}


/* INDIVIDUAL TASK/NOTE */

.task {
    display: grid;
    grid-template: auto 25px 25px 1fr / 1fr;
    height: 280px;
    border: none;
    background-color: #bfdbfe;
    font-family: Arial, Helvetica, sans-serif;
    overflow-wrap: anywhere;
}

.task h3, h6 {
    margin: 0;
    align-self: center;
    justify-self: start;
}

.task h3 {
    font-size: 1.6em;
    padding: 10px;
}

.task h6 {
    font-size: 1em;
    padding: 10px;
}

.task p {
    padding: 10px 20px 10px;
    margin: 0;
}

/* Styling for completed note */
.completedNote {
    background-color: #d9f99d !important;
    /* or #a7f3d0, or #bbf7d0 */
}

.completedNote+.card-buttons button {
    background-color: #d9f99d !important;
}

.importantNote {
    background-color: #fecaca;
}

.importantNote+.card-buttons button {
    background-color: #fecaca;
}

/* hidden template task note, for cloning */

.wrapper {
    display: none;
}

/* NEW TASK DIALOG BOX */

::backdrop {
    background-color: rgba(255, 255, 255, 0.836);
}

.newTaskDialog, .editTaskDialog {
    height: 540px;
    width: 515px;
    min-width: 200px;
    padding: 20px 20px 0 20px;
    border-radius: 10px;
    border: 2px solid #1e3a8a;
    -webkit-box-shadow: 0px 0px 10px 3px #000000;
    -moz-box-shadow: 0px 0px 10px 3px #000000;
    box-shadow: 0px 0px 10px 3px #000000;
    background-color: #dbeafe;
}

.newTaskDialogFieldset, .editTaskDialogFieldset {
    height: 450px;
    display: flex;
    flex-direction: column;
    font-family: 'ComingSoon';
    background-color: #eff6ff;
}

.formInput {
    color: #6d28d9;
    font-weight: 600;
    font-size: 1.3em;
    margin-top: 20px;
    margin-bottom: 5px;
}

.titleInput {
    margin: 0 0 5px 0;
}

#taskTitle, #editTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}

#taskImportance, #editImportance {
    width: 115px;
    font-size: 1em;
}

#taskText, #editText {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.formButtons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 0;
}

.hidden {
    display: none !important;
}

.formCancel, .formConfirm, .saveEditBtn {
    cursor: pointer;
    font-size: 1.4em;
    height: 50px;
    width: 100px;
    border-radius: 10px;
}

.formCancel, .formConfirm, .saveEditBtn {
    height: 50px;
    justify-content: center;
    gap: 20px;
    outline: 0;
    align-items: center;
    background-color: #eff6ff;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-size: 20px;
    line-height: 1.5;
    overflow: hidden;
    padding: 12px 16px;
    text-decoration: none;
    transition: all .14s ease-out;
    white-space: nowrap;
    width: 120px;
    align-self: center;
}

.formCancel:active, .formConfirm:active, .saveEditBtn:active {
    transform: translate(3px,3px);
}


.formConfirm:hover, .saveEditBtn:hover {
    background-color: rgba(30, 255, 0, 0.2);
    box-shadow: 4px 4px 0 #000;
    transform: translate(-3px,-3px);
}

.formCancel:hover {
    background-color: rgba(255, 0, 0, 0.200);
    box-shadow: 4px 4px 0 #000;
    transform: translate(-3px,-3px);
}

.formConfirm:focus-visible, .formCancel:focus-visible, .saveEditBtn:focus-visible{
    outline-offset: 1px;
}